* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
}

body,
html {
    height: 100%;
    background-color: rgb(207, 207, 207);
}

*::-webkit-scrollbar {
    width: 0;
}

.navbar {
    --orange: orangered;
    $width: 100%;
    $height: 50px;
    $background-color: rgba(255, 166, 0, 0.396);
    width: $width;
    height: $height;
    display: flex;
    background: linear-gradient(-60deg, orangered, orange);
    border-bottom: 1px solid var(--orange);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .logo {
        padding: 10px 30px;
        border-radius: 4px;
        border: 1px solid var(--orange);
        cursor: pointer;
        transition: 300ms ease;
        color: black;
        &:hover {
            background-color: var(--orange);
            border: 1px solid transparent;
            color: white;
        }
    }
    .right_div {
        display: flex;
        align-items: center;
        .new_btn {
            padding: 10px 30px;
            cursor: pointer;
            background-color: orange;
            border-radius: 4px;
            border: 1px solid transparent;
            color: white;
            transition: 300ms ease;
            &:hover {
                background-color: transparent;
                border-color: orange;
                color: black;
            }
        }
    }
}

.content {
    overflow: auto;
    height: calc(100% - 50px);
    background: linear-gradient(-45deg, orange, orangered);
    .mod-content {
        justify-content: center;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-width: 60%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        .mods {
            max-width: 300px;
            min-width: 300px;
            background-color: rgba(255, 255, 255, 0.13);
            border-radius: 3px;
            flex-direction: column;
            transition: 200ms ease;
            .mods__header {
                padding: 15px 0;
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid rgba(255, 255, 255, 0.379);
                span {
                    a[href="?settings"] {
                        padding: 10px;
                        margin-right: 5px;
                        background-color: rgba(254, 254, 254, 0.596);
                        color: white;
                        border-bottom-right-radius: 3px;
                        border-top-right-radius: 3px;
                        transition: 200ms ease;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.22);
                        }
                    }
                    a[href="?mods_name"] {
                        padding-left: 10px;
                        color: white;
                        &:hover {
                            color: rgba(255, 255, 255, 0.254);
                        }
                    }
                }
            }
            .mods__content {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                span {
                    padding: 20px;
                    a {
                        font-size: 40px;
                        padding: 20px;
                        color: white;
                        &:hover {
                            color: rgba(255, 255, 255, 0.348);
                        }
                    }
                }
            }
            .mods__datetime {
                display: flex;
                justify-content: space-between;
                padding: 10px 5px;
                color: rgba(255, 255, 255, 0.5);
                border-top: 1px solid rgba(255, 255, 255, 0.267);
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.13);
                box-shadow: 0 0 0 0 white;
            }
        }
    }
}

.new-mods-popup {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 247, 0, 0.442);
    display: none;
    transition: 300ms ease;
    .close-popup {
        position: absolute;
        right: 8px;
        bottom: 8px;
        display: fleX;
        justify-content: center;
        align-items: center;
        .fa-close {
            width: 50px;
            height: 50px;
            font-size: 28px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            background-color: orangered;
            color: white;
            transition: 300ms ease;
            cursor: pointer;
            &:hover {
                background-color: rgba(255, 68, 0, 0.309);
                color: black;
            }
        }
    }
}